
#head-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

#About {
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    gap: 50px;
}

#Work {
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    gap: 50px;
}

#Key-Skills {
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    
}

#Education-Info {
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;;
}

#Profile-info {
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;;
}

#Schools{
    padding-left: 30px;
}

#Yellow-Line {
    background-color: #f8992d;
    height: 6px;
    width: 100%;
    border: none;
}

#Skill1 {
    padding-right: 20px;
}

#Skill2 {
    padding-right: 20px;
}

#Skill3 {
    padding-right: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; 
    line-height: 1.25; 
    margin: 0;
    padding: 0;
}