.resume-container {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0;
  padding: 20px;
}

.head-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.yellow-line {
  background-color: #f8992d;
  height: 6px;
  width: 100%;
  border: none;
}

.about, .work, .key-skills, .education-info {
  padding: 10px;
}

.skills-list {
  display: flex;
  gap: 20px;
}

.education-item, .work-item {
  margin-bottom: 15px;
}